################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/power-bi-data-connector/.vs/powerBiDataConnector/v16/.suo
/power-bi-data-connector/bin/Debug
/power-bi-data-connector/obj/Debug
/OrderApi/bin/Debug/net5.0
/OrderApi/obj
/power-bi-data-connector/.vs/powerBiDataConnector/DesignTimeBuild
/power-bi-data-connector/obj/x86/Debug
